body {
  margin: 0;
  color: #676a6c;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);

}

#headerhigh {
  background-image: linear-gradient(0deg, #1d382a 25%, #000000 25%, #000000 50%, #1d382a 50%, #1d382a 75%, #000000 75%, #000000 100%);
  background-size: 8.00px 8.00px;
  height: 75px;
  width: 100%;
}

nav {
  background-color:rgb(240, 240, 240);
  width: 100%;
  height: 43px;
}

#h1titulo {
  float: left;
  font-weight: 200;
  color: white;
  font-size: 30px;
  font-family: "Open Sans";
  margin-top: 15px;
  margin-left: 40px;
}

#logo {
  display: block;
  background-color: rgb(240, 240, 240);
  height: 80px;
  width: 98px;
  float: left;
  margin: 0%;
  margin-left: 40px;

}
img {
  margin-left: 10px;
}

span {
  color: silver;
  float:right;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 10px;
  margin-top: 55px;
  margin-right: 10px;
}

#corpo {
  display: block;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px;
  height: 1000px;
}

#texto1 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 13px;
  font-weight: 500;
}

#texto2 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 30px;
}

#caixa1 {
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid lightgray;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-bottom: 15px;
}

#loginput {
  float: right;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

#caixa2 {
  position: relative;
  float: right;
  width: 50%;
  margin: 0%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

#cadastro {
  float: left;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

#login {
  background-color: #FFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 0px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    height: 20px;
}

#divlogin {
  font-size: 14px;
  margin-top: 20px; 
  margin-bottom: 15px;
}

#span1 {
  font-size: 13px;
  float: left;
  margin: 0px 0px;
  color: #676a6c;
}

#span2 {
  font-size: 12px;
  float: right;
  margin: 0px 0px;
  color: #676a6c;
}

a {
  cursor: pointer;
  color: darkblue;
}

#botao {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  width: 100%;
  color: gray;
}

.show{
  display: block !important;
}





.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
  background: rgba(255, 255, 255, 0.749);
  border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  color: #676a6c;  
  width: 30%;
}


@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}